on:
  push:
    branches:
      - main

jobs:
  my_job:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      
      - name: Test command
        run: echo "Workflow funcionando"
