on:
  push:
    branches:
      - master

jobs:
  my_job:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      
      - name: Mostrar informacion
        run: echo "Workflow funcionando"
        docker build -t dockermazin/hola-mundo:5 .
